/* ここから下に記載していく */

body {background-color: white;
margin: 0 auto;
max-width: 1200px;}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center ;}
.header_list {
    display: flex;
    justify-content: space-around;
    align-items: center ;;
}.header_list li {
    margin-left: 50px;
}

.mainvisual {
    height: 400px;
    background:url("../img/mainbg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainvisual h1 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
}

.mainvisual p {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.about_title {
    font-size: 24px;
    color: yellow;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
}

.about_text1 {
    font-size: 16px;
    color:#222222;
    font-weight: normal;
    text-align: center;
    padding-top: 30px;
}

.about_text2 {
    font-size: 16px;
    color:#222222;
    font-weight: normal;
    text-align: center;
    padding-top: 60px;
}

.about_text3 {
    font-size: 16px;
    color:#222222;
    font-weight: normal;
    text-align: center;
    padding-top: 40px;
}

.about_text4 {
    font-size: 16px;
    color:#222222;
    font-weight: normal;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.about_img {
    display: flex;
}

.course_title {
    font-size: 24px;
    color: #222;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
}

.course_text1 {
    font-size: 16px;
    color:#222222;
    font-weight: normal;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

.nouen_img_text {
    display: flex;
}

.kensyu- {
    font-size: 18px;
    color: #222;
    font-weight: bold;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
}

.kensyu-a {
    font-size: 16px;
    color:white;
    font-weight: normal;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 50px;
}

.back_gray {
        background: gray;
}
.nouen_img_text {
    height: 400px;
}

.hituyou {
    font-size: 24px;
    color: #222;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40pxz
}

.hituyou-a {
    font-size: 16px;
    color:#222;
    font-weight: normal;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-right: 50px;
}

.hituyou_yoko {
    display: flex;
    position:center;
}

.casting_title {
    font-size: 24px;
    color: #222;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
}

.casting_text {
    font-size: 16px;
    color:#222222;
    font-weight: normal;
    text-align: center;
    padding-top: 30px;
}

.NEWS_title {
    font-size: 24px;
    color: yellow;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
}

.NEWS_title_ja {
    font-size: 16px;
    color:#222222;
    font-weight: normal;
    text-align: center;
    padding-top: 30px;
    padding-bottom:60px;
}

.yokonarabi {
    display: flex;
    justify-content: space-around;
    width: 960px;
    margin: 0 auto;
}

.about_img {
    display: flex;
   text-align: center;
}

.NEWS_img {
    display: flex;
    text-align: center;}

.MORE {
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center ;}

.MORE_title{
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom :10px;
    width: 60px;
    background-color: yellow;
    text-align: center;
}

.ACCESS_title {
    padding-top:60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center ;}
.kaisya {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center ;}


.map1 {
    display: flex;
    justify-content: space-around;
    align-items: center ;}

.syousai1 {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding-top: 60px;
    padding-bottom: 30px;
}
.syousai2 {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding-bottom: 30px;
}
.syousai3 {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding-bottom: 30px;
}
.syousai4 {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding-bottom: 30px;  
}
.syousai5 {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding-bottom: 60px;
}

.CONTACT_title {
    padding-bottom: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

.otoiawase {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding-bottom: 60px;
}
.otoiawase1 {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding-bottom: 30px;   
}
.otoiawase2 {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding-bottom: 70px;   
}

small{
    background-color: #707070;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 0 auto;
}

.syousai_z{
    padding-bottom: 30px;
}

.form{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin: auto;
}

.Contact__title{
    font-size: 24px;
    color: yellow;
    font-weight: bold;
    text-align: center;
    padding-top: 60px; 
}